.right {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.nav-wrapper {
  padding: 0 2rem;
  background-color: var(--color-primary-900);
}

nav .brand-logo {
  font-weight: 500;
  color: var(--color-accent);
}

.user--avatar {
  display: flex;
  align-items: center;
}

.circle {
  width: 3rem;
  height: 3rem;
}

.hide-on-med-and-down .signout--btn {
  background-color: var(--color-accent);
  margin-left: 1rem;
}
