.room--container {
  max-width: 50%;
  margin: auto;
  border-radius: 0.5rem;
  background-color: var(--color-primary-800);
  /* border: 1px solid var(--color-primary-100); */
}

.room--header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-primary-200);
}

.room--title {
  font-size: 1.2rem;
  font-weight: 600;
}

.room--admin {
  font-weight: 600;
}

.room-chat-window {
  padding: 1rem;
  height: 40vh;
  overflow: auto;
  /* border: 1px solid var(--color-primary-100); */
}

.chat-message--container {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 1rem 0;
  /* border: 1px solid var(--color-primary-100); */
}

.sent {
  flex-direction: row-reverse;
}

.received {
  flex-direction: row;
}

.chat-user-avatar {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.chat-message {
  margin: 0 1rem;
  padding: 0 1rem;
  height: fit-content;
  border-radius: 2rem;
  background-color: var(--color-primary-300);
}

.room--footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid var(--color-primary-100); */
}

.input-message {
  width: 100%;
  /* border: 1px solid var(--color-primary-100); */
}

.row {
  margin-bottom: 0;
}

.materialize-textarea {
  color: var(--color-primary-100);
  width: 100%;
}

.footer--button {
  display: flex;
}

.footer--button button {
  margin: 0 1rem;
  background-color: var(--color-primary-700);
}
