.signin--container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: var(--color-primary-100);
}

.login-form--container {
	padding: 3rem;
	border-radius: 1rem;
	background-color: var(--color-primary-800);
	border: 1px solid black;
}

.form--title {
	font-size: 2rem;
	font-weight: 500;
}

.login-buttons--container {
	padding-top: 1rem;
	text-align: center;
	/* border: 1px solid black; */
}

.login--button {
	margin-bottom: 1rem;
}

.login--button a {
	border-radius: 0.5rem;
	background-color: var(--color-primary-700);
	width: 100%;
}

.form--link {
	color: var(--color-accent);
	cursor: pointer;
}
